.header{
    width: 100%;
    height: 50px;
    background-color: #4d4d4d;

    &__content{

        color: white;
        height: 50px;
        display: flex;
        justify-content: space-around;
        //padding-top: 15px;
        // .logo{
        //     margin-left: 10px;
        //     margin-top: 0;
        // }
    }
    &__logo{
        display: flex;
        align-items: center;
        justify-items: center;
        cursor: pointer;
        background-color: black;
        height: 50px;
        width: 10%;
    }
    &__img{
        width: 80%;
        margin: 0 auto;

    }
    &__nav{
        display: flex;
        align-items: center;
        justify-items: center;
        padding: 1rem;
        &--last{
            display: flex;
            align-items: center;
            justify-items: center;
            padding: 1rem;
            margin-right: auto;
        }
    }
    &__link{
        cursor: pointer;
    }
    .active{
        background-color: lightgray;
    }

    
}

    @media only screen and (max-width: 786){

    }