.company{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    .company__details{
        width: 80%;
        height: 50px;
        margin-top: 20px;
        margin-left: 10%;

        display: flex;
        
    }
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.red {
     background-color: red;
}

.load-button{
    width: 80%;
    height: 50px;
}

.import-filter{
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
    display: flex;

    justify-content: space-between;

    .import-filter__categories, .import-filter__years{
        margin-right: 20px;
        padding: 10px;

    }

    .import-filter__filters{
        input{
            padding: 10px;
        }
    }

    .import-filter__picker{
        .upload-label{
            border: 1px solid black;
            display: inline-block;
            padding: 10px;

            input[type="file"] {
                display: none;
            }
            
        }
        
    }
}

ul {
    list-style-type: none;
}

@media only screen and (min-width: 1000px){
    .company{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 0px;
        
    }

    .load-button{
        width: 90%;
        margin-top: 100px;
    }

    .import-filter{
        margin-top: 5%; 

        margin-left: 5%;
        width: 90%;

        
    }

}