.company{
    display: flex;
    flex-direction: column;
    padding-left: 0px;

    .company__details{
        width: 80%;
        height: 50px;
        margin-top: 20px;
        margin-left: 10%;

        display: flex;
        justify-content: space-between;

        .company__address{
            margin-left: 20px;
        }
        .company__amount{
            margin-right: 20px;
        }
        
    }
}

.green{
    background-color: rgba(0, 128, 0, 0.7);
}

.yellow{
    background-color: rgba(255, 255, 0, 0.7);
}

.red {
     background-color: rgba(255, 0, 0, 0.7);
}

.load-button{
    width: 80%;
    height: 50px;
}

.import-filter{
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
    display: flex;

    .import-filter__filters{
        width: 80%;
        margin-left: 20px;
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "import-filter__categories import-filter__years"
        "import-filter__search import-filter__search"; 

        .import-filter__categories, .import-filter__years{
            margin-right: 20px;
            margin-bottom: 20px;
            padding: 10px;
    
        }

        .import-filter__search{
            width: 100%;
        }
    }

    .import-filter__picker{
        .upload-label{
            border: 1px solid black;
            display: inline-block;
            padding: 10px;

            input[type="file"] {
                display: none;
            }
            
        }
        
    }
}

ul {
    list-style-type: none;
}

@media only screen and (min-width: 1000px){
    .company{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 0px;
        
    }

    .load-button{
        width: 90%;
        margin-top: 100px;
    }

    .import-filter{
        margin-top: 5%; 

        margin-left: 5%;
        width: 90%;

        display: flex;
        justify-content: space-between;   
        .import-filter__filters{
            display: flex;
            justify-content: flex-end;
            .import-filter__search{
                width: 10%;
                height: 30px;
            }
        }     
    }

}