.details{
    display: none;
    position: absolute;
    top: 0%;
    // right: 0;
    // bottom: 0;
    left: 50%;
    // margin: auto;
    // text-align: center;
    width: 50%;
    height: 100%;
    //max-width: 22em;
    //padding: 2rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    background: white;
    z-index: 999;
    transition: all 0.6s ease;
    transform: translateX(100%);
    &__wrapper{
        width: 100%;
    }
    &__header{
      display: flex;
      padding: 1rem;
    }
    &__info{
      margin-left: auto;
    }
    &__close{
      padding: 1rem;
      text-align: right;
      font-size: 150%;
    }
    &__content{
      padding: 1rem;
      margin-top: 1rem;
    }
    &__data{
      width: 100%;
      border-collapse: collapse;
    }
    &__head{
      border-bottom: 1px black solid;
    }
}
.last-payment{
  padding: 1rem;
  margin-top: 2rem;
  &__text{
    text-align: left;
  }
}
.details.visible{
  display: block;
  transform: translateX(0%);
}

.modal-overlay {
    content: '';
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: #2c3e50;
    opacity: 0.6;
    cursor: pointer;
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: all 0.6s ease;
  }
  
  // .fade-enter,
  // .fade-leave-to {
  //   opacity: 0;
  // }
  
  .pop-enter-active,
  .pop-leave-active {
    transition: all 0.6s ease;
  }
  
  .pop-enter,
  .pop-leave-to {
      //opacity: 0;
      left: 50%
  }