.details{
  visibility: hidden;
  position: absolute;
  position: fixed;
  top: 0%;
  // right: 0;
  // bottom: 0;
  left: 50%;
  // margin: auto;
  // text-align: center;
  width: 50%;
  height: 100%;
  //max-width: 22em;
  //padding: 2rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background: white;
  z-index: 999;
  transition: all 0.6s ease;
  transform: translateX(100%);
  &__wrapper{
      width: 100%;
  }
  &__header{
    display: flex;
    padding: 1rem;
  }
  &__info{
    margin-left: auto;
  }
  &__close{
    padding: 1rem;
    text-align: right;
    font-size: 150%;
  }
  &__content{
    padding: 1rem;
    margin-top: 1rem;
  }
  &__data{
    width: 100%;
    border-collapse: collapse;
  }
  &__head{
    border-bottom: 1px black solid;
  }
  
  

}
.offer{
  margin-left: 10%;
  margin-bottom: 10%;
  display: flex;

  &__selection{

    width: 50%;
    height: 200px;
    overflow-y: auto;

    .offerSelection{
      display: flex;
      width: 50%;
      height: 20px;
    }

  }
  &__list{
    height: 200px;
    width: 50%;
    overflow-y: auto;
  }
 
  .offerMenu{
    display: flex;
    flex-direction: row;
  }
}
.sendMail{
  display:flex;
  justify-content: flex-end;
  &__button{
    margin-right: 10%;
    padding: 10px 20px 10px 20px;
    background-color: green;
    color: white;
    margin-bottom: 20px;
  }
}
.last-payment{
  padding: 1rem;
  margin-top: 2rem;
  &__text{
    text-align: left;
  }
}
.details.visible{
  visibility: visible;
  transform: translateX(0%);
}

.email-modal {
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  text-align: center;
  width: fit-content;
  height: fit-content;
  max-width: 22em;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background: #FFF;
  z-index: 1999;
  transform: none;
}

.email-overlay {
  position: absolute;
  position: fixed;
  height: 100%;
  width: 200%;
  top: 0;
  right: 0;
  bottom: 0;
  left: -100%;
  z-index: 1998;
  background: black;
  opacity: 0.6;
  cursor: pointer;
}

.email-fade-enter-active,
.email-fade-leave-active {
  transition: opacity .4s linear;
}

.email-fade-enter,
.email-fade-leave-to {
  opacity: 0;
}

.email-pop-enter-active,
.email-pop-leave-active {
  transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;
}

.email-pop-enter,
.email-pop-leave-to {
  opacity: 0;
  transform: scale(0.3) translateY(-50%);
}