.editOffer{
    visibility: hidden;
    position: absolute;
    position: fixed;
    top: 0%;
    // right: 0;
    // bottom: 0;
    left: 50%;
    // margin: auto;
    // text-align: center;
    width: 50%;
    height: 100%;
    //max-width: 22em;
    //padding: 2rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    background: white;
    z-index: 999;
    transition: all 0.6s ease;
    transform: translateX(100%);
    
    &__searchfield{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        width: 30%;

        input{
            height: 30px;
        }
    }

    &__dates{
        margin-left: 10%;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__description{
        height: 20%;
        .description__text{
            width: 80%;
            height: 80%;
        }

    }
}

.saveButton{
    margin-top: 50px;
}

.editOffer.visible{
    visibility: visible;
    transform: translateX(0%);
  }


  