.overview{
    width: 100%;
    &__overview{
        width: 100%;
    }
    &__table{
        width: 100%;
        padding: 2rem;
        border-collapse: collapse;
    }
    &__head{
        border-bottom: 1px black solid;
    }
}