.overview{
    width: 100%;
    &__overview{
        width: 100%;
    }
    &__table{
        margin-top: 10%;
        margin-left: 5%;
        width: 90%;
        padding: 2rem;
        border-collapse: collapse;
    }
    &__head{
        border-bottom: 1px black solid;
    }
    &__body{
        width: 100px;
    }
    .address__id{
        padding-bottom: 10px;
        border-right: 1px black solid;
    }

    .spend{
        padding-bottom: 10px;
    }
}